<div class="box">
  <h1>FORM 1</h1>
  <p>First Name:</p>
  <input
    [(ngModel)]="fnameForm1"
    (focus)="isFocusedFirstNameInForm1(true)"
    (focusout)="isFocusedFirstNameInForm1(false)"
    type="text"
    value="{{ counter$ | async }}"
  /><br /><br />

  <br /><br />
  <input
    [(ngModel)]="lnameForm1"
    (focus)="isFocusedLastNameInForm1(true)"
    (focusout)="isFocusedLastNameInForm1(false)"
    type="text"
    value="{{ counter$ | async }}"
  /><br /><br />

  <button (click)="submitForm1()">submit</button>
</div>

<div class="box">
  <h1>FORM 2</h1>
  <input
    [(ngModel)]="fnameForm2"
    (focus)="isFocusedFirstNameInForm2(true)"
    (focusout)="isFocusedFirstNameInForm2(false)"
    type="text"
    value="{{ counter$ | async }}"
  /><br /><br />

  <br /><br />
  <input
    [(ngModel)]="lnameForm2"
    (focus)="isFocusedLastNameInForm2(true)"
    (focusout)="isFocusedLastNameInForm2(false)"
    type="text"
    value="{{ counter$ | async }}"
  /><br /><br />

  <button (click)="submitForm2()">submit</button>
</div>
